@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);

/* typicons */
[class*="typicons-"]:before {
font-family: 'Typicons', sans-serif;
}

$base: #1186E4;
$teal-base: #146B79;
$grey-base: #3F4854;
$bright-base: #1186E4;
$tab-base: #FBF9F5;

$text: #33302E;

$effra: "effra-1","effra-2", helvetica, sans-serif;
$tisa: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;

@mixin vertical-align {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background-size {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {  
  font-family: $effra;
  font-size: 18px;
  line-height: 140%;
  background: #fafafa;
  background: #F7F7ED;
  background: #F8F7F3;
  background: #FDFAF4;
  background: #F9F8F5;
  background: #FCFBFA;
  //background: #FDF6E7;
  //background: #fcfcfc;
  //background: #fafafa;
  color: #28200E;
  margin-top: 0px;
  padding-top: 0px;
}
.mailme{
  .typicons-mail{
    color: lighten($base, 30%);
  }
  &:hover{
    color: $base;
    .typicons-mail{
      color: $base;
      &:hover{
        color: $base;
      }
    }
  }
}

.royalSlider {
  width: 100%;
  min-height: 780px;
  .rsOverflow{
    cursor: auto !important;
  }
  .rsBullets{
    display: none;
  }
  &.show-dots{
    .rsBullets{
      display: block;
    }
  }
}

.rsContent{
  @include box-sizing();
  padding: 5%;
}


.rsMinW{
  .rsBullets{
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    bottom: 50px;
  }
  .rsBullet{
    padding: 7px 8px;
    span{
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #CCC;
        background: rgba(255,255,255,0.5);
        box-shadow: none;
        &:hover{
          background: rgba(255,255,255,0.75);
          cursor: pointer;
        }
    }
  }
}

.rsArrow{
  z-index: 1000;
  bottom: 5% !important;
  .rsArrowIcn{
    z-index: 1000;
  }
}
.rsArrowLeft{
    right: 8% !important;
}
.rsArrowRight{
    right: 5% !important;
}

.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}




.cover{
  h1{
    font-family: $effra;
    font-weight: bold;
    color: #FFF; 
    line-height: 105%; 
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  .learn-more{
    text-decoration: none;
    color: #FFF;
    padding: 6px 10px 8px 10px;
    border-radius: 2px;
    font-size: 1.1em;
  }
}

.text{
  width: 36%;
  @include vertical-align;
  @include box-sizing();
  position: relative;
  p{
    padding-bottom: 1.5em;
    font-family: $tisa;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative;

    a{
      color: inherit;
      &:hover{
        color: $text;
      }
    }
  }
  em{
    font-style: italic;
  }
  aside{
    font-style: italic;
    font-size: .85em;
    @include box-sizing();
    padding: 14px 16px;
    color: lighten($text, 15%);
    background-color: rgba(255,255,255,.35);
    line-height: .9em;
    p{
      padding-bottom: 5px;
    }
  }
  h3{
    font-family: $effra;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 24px;
  }
}

.image{
  width: 64%;
  text-align: center;
  @include box-sizing();
  height: 100%;
  img{
    @include vertical-align;
    width: 100%
  }
}


.left-text{
  .text{
    float: left;
    padding-right: 60px;
  }
  .image{
    float: right;
  }
}


.right-text{
  .text{
    float: right;
    padding-left: 60px;
  }
  .image{
    float: left;
  }
}

.centered-block{
  .text{
    max-width: 700px;
    width: inherit;
    margin: 0 auto;
  }
}

.center{
  text-align: center;
}

.team{
  li{
    display: inline-block;
    margin-right: 15px;
    color: #FFF;
    width: 66px;
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    line-height: 130%;
    img{
      width: 66px;
      height: auto;
    }
    &:last-child{
      width: 200px;
      background: rgba(255,255,255, .20);
      font-size: .8em;
      line-height: 120%;
      padding: 8px 10px;
      position: relative;
      border-radius: 2px;
      color: rgba(255,255,255, .80);
      text-align: left;
      font-weight: normal;
      top: -12px;
      strong{
        color: #FFF;
      }
      .arr{
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 10px solid rgba(255,255,255, .20);
        position: absolute;
        left: -10px;
      }
    }
  }
}

$nomadic-cover: #F46948;
#nomadic-platform{
  .rsContent{
    background-color: #DCD9CB;
    color: #33302E;
  }
  .slide1 {
    background-color: $nomadic-cover;
    color:#FFF;
    .learn-more{
      background-color: darken(desaturate($nomadic-cover, 14%), 9%);
    }
  }
  .slide2{
    background-color: darken(desaturate($nomadic-cover, 14%), 6%);
    color: #FFF;
    .team{
      li{
        &:last-child{
          background: #f48062;
        }
        .arr{
          border-right-color: #f48062;
        }
      }
    }
    a{
      &:hover{
        color: #FFF;
      }
    }
  }
  .slide3{
    background-color: #DCD9CB;
    color: #33302E;
  }
  .slide4{
    background: url('../../content/work/nomadic/iterations.gif');
    @include background-size();
    color: #FFF;
    .text{
      color: #FFF;
      background-color: darken(desaturate($nomadic-cover, 14%), 6%);
      padding: 35px 40px;
      -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0, .1);
      box-shadow: 0px 1px 8px 4px rgba (0,0,0,.1); 
      @include box-sizing();
      p{
        padding-bottom: 0px;
      }
    }
  }
  .slide-nomadic-closing{
    background-color: $nomadic-cover;
    color: #FFF;
    ul{
      border-top: 1px solid darken(desaturate($nomadic-cover, 14%), 9%);
      padding-top: 35px;
      li{
        width: 49%;
        display: inline-block;
        line-height: 108%;
        margin-bottom: 35px;
        img{
          width: 36px;
          float: left;
          padding-right: 10px;
        }
      }
    }
  }
}


$nomadic-cms-cover: #2e4156;
#nomadic-cms{
  .rsContent{
    background: #D7E0E5;
    color: #33302E;
  }
  .cms-slide-1 {
    background-color: $nomadic-cms-cover;
    color:#FFF;
    .learn-more{
      background-color: darken(desaturate($nomadic-cms-cover, 14%), 7%);
    }
  }
  .cms-slide-2{
    background-color: darken(desaturate($nomadic-cms-cover, 2%), 8%);
    color: #FFF;
    a{
      &:hover{
        color: #FFF;
      }
    }
  }
  .cms-slide-4{
    background: url('../../content/work/nomadic-cms/Nomadic-CMS-Wireframes.gif');
    @include background-size();
    color: #FFF;
    .text{
      color: #FFF;
      background-color: darken(desaturate($nomadic-cms-cover, 14%), 7%);
      padding: 35px 40px;
      -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0, .1);
      box-shadow: 0px 1px 8px 4px rgba (0,0,0,.1); 
      @include box-sizing();
      p{
        padding-bottom: 0px;
      }
    }
  }
  .slide-nomadic-cms-closing{
    background-color: $nomadic-cms-cover;
    color:#FFF;
  }
}

$common-curriculum-cover: #4fc99a;
#common-curriculum{
  .rsContent{
    background: #4fc99a;
    //background: #f2eede;
    color: #FFF;
  }
  .cc-slide-1{
    background: $common-curriculum-cover;
    color: #FFF;
    .learn-more{
      background-color: darken(desaturate($common-curriculum-cover, 2%), 12%);
    }
  }
  .cc-slide-2{
    background-color: darken(desaturate($common-curriculum-cover, 0%), 8%);
    color: #FFF;
  }
  .cc-slide-closing{
    background: $common-curriculum-cover;
    color: #FFF;

  }
}

$commit-cover: #0286a3;
#commit{
  .rsContent{
    background: #4fc99a;
    //background: #f2eede;
    background: $commit-cover;
    color: #FFF;
  }
  .commit-slide-1{
    background: $commit-cover;
    color: #FFF; 
    padding-right: 0;
    .learn-more{
      background-color: darken(desaturate($commit-cover, 2%), 6%);
    }
    .image{
      //margin-right: -6%;
    }
  }
  .commit-slide-2{
    background-color: darken(desaturate($commit-cover, 2%), 6%);
    color: #FFF;
  }
  .commit-slide-3{
    background-color: $commit-cover;
    background: url('../../content/work/commit/spreads-03.jpg');
    @include background-size();
    .text{
      background: rgba(255, 255, 255, .95);
      background: $commit-cover;
      color: #FFF;
      padding: 35px 40px;
      -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0, .1);
      box-shadow: 0px 1px 8px 4px rgba (0,0,0,.1); 
      @include box-sizing();
    }
  }
  .commit-slide-4{
    background-color: $commit-cover;
    color: #FFF;
    padding-right: 0;
  }
  .commit-slide-5{
    background-color: $commit-cover;
    color: #FFF;
    padding-right: 0;
  }
  .commit-slide-6{
    background-color: $commit-cover;
    color: #FFF;
    padding-right: 0;
  }
  .commit-slide-7{
    background-color: $commit-cover;
    color: #FFF;
    padding-right: 0;
  }
  .commit-slide-closing{
    blockquote{
      color: #59e5fc;
      font-family: $tisa;
      font-size: 1.2em;
      line-height: 1.4em;
       padding-left: 65px;
    }
    .quote-fill{
      fill: #59e5fc;
      width: 44px;
      float:left;
    }
  }
}






