@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);

/* typicons */
[class*="typicons-"]:before {
font-family: 'Typicons', sans-serif;
}

$base: #1186E4;
$teal-base: #146B79;
$grey-base: #3F4854;
$bright-base: #1186E4;
$tab-base: #FBF9F5;

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {  
  font-family: "effra", helvetica, sans-serif;
  font-size: 18px;
  line-height: 140%;
  background: #fafafa;
  background: #F7F7ED;
  background: #F8F7F3;
  background: #FDFAF4;
  background: #F9F8F5;
  background: #FCFBFA;
  //background: #FDF6E7;
  //background: #fcfcfc;
  //background: #fafafa;
  color: #28200E;
  margin-top: 0px;
  padding-top: 0px;
}
  .mailme{
    .typicons-mail{
      color: lighten($base, 30%);
    }
    &:hover{
      color: $base;
      .typicons-mail{
        color: $base;
        &:hover{
          color: $base;
        }
      }
    }
  }

body.home{
  background: $base;
  color: #FFF;
  a:hover{
    color: #FFF;
  }
  .mailme{
    .typicons-mail{
      color: lighten($base, 30%);
      &:hover{
        color: #fff;
      }
    }
  }
  .header{
    background: $base;
    border-bottom: darken($base, 8%);
    nav{
      li{
        a{
          color: lighten($base, 30%);
          &:hover{
            color: #FFF;
          }
        }
      }
    }
  }
  .container{
    width: 1000px;
    margin: 0 auto;
  }
  .headline{
    padding-top: 80px;
    padding-bottom: 0px;
  }
  h1{
    color: #FFF;
    margin-bottom: 15px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-size: 2.6em;
  }
  h2{
    color: #FFF;
    color: lighten($base, 43%);
    //font-family: "effra";
    font-weight: 400;
    font-size: 1.75em;
    width: 50%;
    font-family: "brandon-grotesque", sans-serif;
    line-height: 135%;
    span{
      // border-bottom: 1px solid lighten($base, 50%);
      color: #FFF;
    }
  }
  h3{
    color: lighten($base, 30%);
    margin-bottom: 0px;
    //font-family: "effra";
    font-weight: 600;
    a{
      color: lighten($base, 40%);
      border-bottom: 1px solid lighten($base, 40%);
    }
  }
}

.bluehead{
  background: $base;
  color: #FFF;
  padding-bottom: 10px;
  margin-bottom: 0px;
  .header{
    background: none;
    a{
      color: lighten($base, 30%);
      .typicons-mail{
        color: lighten($base, 30%);
      }
      &:hover{
        color: #FFF;
      }
    }
  }
  .mailme{
    .typicons-mail{
      color: lighten($base, 30%);
      &:hover{
        color: #fff;
      }
    }
  }
  h1{
    color: #FFF;
    margin-top: 50px;
    margin-bottom: 16px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-size: 2em;
  }
}

.fixto-fixed{
  z-index: 1;
}

.blog .header{
  //position: fixed;
  //background: #FCFBFA;
  //opacity: .95;
}

.home .wrapper{
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 2;
  position: relative;
  .container{
    //position: relative;
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    @include opacity(1);
    @include transition();
  }
  &:hover{
    img{
      @include opacity(1);
    }
  }
}

.wrapper.headline{
  background: $base;
}
.wrapper.pbskids{
  background: lighten($base, 0%);
  padding-top: 100px;
  img{
    width: 600px;
  }
}
.wrapper.opengov{
  background: lighten($base, 8%);
  img{
    width: 600px;
  }
}
.wrapper.commit{
  background: lighten($base, 4%);
}
.wrapper.nomadic{
  background: $base;
  img{
    width: 600px;
  }
}
.wrapper.commoncurriculum{
  background: lighten($base, 4%);
}
.wrapper.step{
  background: lighten($base, 8%);
  img{
    width: 600px;
  }
}
.wrapper.readi{
  background: lighten($base, 4%);
}

.read-case{
  background: darken($base, 8%);
  padding: 11px 15px;
  color: lighten($base, 35%);
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 800;
  font-size: .7em;
  @include transition(0.35s);
  font-family: "effra"; 
  display: inline-block;
  &:hover{
    background: darken($base, 15%);
  }
}

.container{
  width: 600px;
  margin: 0 auto;
}
a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #222;
}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-size: 40px;
  color: #382C14;
  margin-bottom: 55px;
  font-family: "brandon-grotesque", sans-serif;
  //font-family: "freight-text-pro";
  font-weight: 800;
  font-family: "effra";
  line-height: 115%;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 21px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: #136977;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
  font-family: "freight-text-pro";
  font-family: "brandon-grotesque", sans-serif;
  color: #333;
}

.header{
  position: absolute;
  width: 100%;
  //background: #eeeeee;
  //background: #F4F1EB;
  //background: #EAE3D5;
  //background: #FFF;
  //border-bottom: 1px solid #F4F1EB;
  color: white;
  @include transition();
  @include box-sizing(border-box);
  //padding-left: 30px;
  position: relative;
  z-index: 3;
  &:hover{
   // background: #146B79;
    nav li a{
      //color: #268193;
    }
  }
  .mailme{
    float: right;
    padding-right: 0px;
    .typicons-mail{
      color: #FFF;
      font-size: 1.2em;
      display: block;
      padding-top: 2px;
      color: #ccc;

    }
  }
  
}
nav {
  overflow: hidden;
  padding: 20px 0px 17px 0px;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold;
  float: left;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 14px;
  font-family: "effra";
}
nav li a{
  color: #146B79;
  color: #ccc;
  &:hover{
    color: $base;
    //color: #146B79;
    //text-decoration: underline;
  }
}

nav li a.active {
  color: $base;
}
nav.submenu {
  border-top: none;
  margin-bottom: 20px;
}
nav.submenu a {
  font-weight: normal;
}


section.content {
  padding-top: 80px;
}

.articlelist{
  position: fixed;
  left: 10px;
  top: 0px;
  width: 150px;
  height: 90%;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  li{
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 10px;
    a{
      font-family: "effra", sans-serif;
      color: #ccc;
      font-size: 14px;
      //@include transition(font-size, .25s);
      &:hover{
        color: $base;
        //font-size: 1.3em;
      }
    }
  }
}

.tagcloud{
  position: fixed;
  right: 0px;
  top: 0px;
  width: 120px;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: right;
  padding-right: 20px;
  li{
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 0px;
    a{
      font-family: "effra", sans-serif;
      color: #ccc;
      font-size: 14px;
      //@include transition(font-size, .25s);
      &:hover{
        color: $base;
        //font-size: 1.3em;
      }
    }
  }
}

.pagination{
  padding-bottom: 100px;
  a{
    background: $base;
    padding: 8px 12px 10px 12px;
    @include border-radius(3px);
    color: #FFF;
    line-height: 100%;
    &:hover{
      background: darken($base, 20%);
    }
  }
  .old{
    float: left;
  }
  .new{
    float: right;
  }
}

article{
  margin-bottom: 200px;
  img{
    width: 100%;
    
    border: 1px solid #ccc;
    &.wide{
      width: 1000px;
      margin-left: -200px;
    }
    &.captioned{
      margin-bottom: 0px
    }
  }
  ul{
    padding-left: 32px;
    li{
      font-size: 20px;
      line-height: 154%;
      font-family: "ff-tisa-web-pro", Georgia, serif;
      a{
        color: $base;
        text-decoration: underline;
        &:hover{
          color: darken($base, 20%);
        }
      }
    }
  }
  p{
    font-size: 20px;
    line-height: 154%;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    a{
      color: $base;
      text-decoration: underline;
      &:hover{
        color: darken($base, 20%);
      }
    }
    &.captiontext{
      font-family: "ff-tisa-web-pro", georgia, serif;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      color: #555;
      line-height: 135%;
      font-style: italic;
      display: block;
      margin-top: -17px;
      margin-bottom: 40px;
    }
  }
  blockquote{
    //background: #f2f2f2;
    margin-bottom: 30px;
    background: url('../images/blockquote.gif') no-repeat top left;
    background-size: 30px;
    // border-top: 3px solid $base;
    margin-top: 30px;
    display: block;
    padding: 0px 55px 1px 40px;
    p{
      //font-family: "effra";
      //font-size: 16px;
      //font-style: italic;
      //font-weight: 800;
      color: $base;
      line-height: 130%;
      padding-top: 0;
    }
  }
  h2{
    font-weight: 600;
    font-family: "effra", sans-serif;
    margin-top: 30px;
    a{
      &:hover{
        color: $base;
      }
    }
  }
  .portrait{
    margin-top: -30px;
    border: none;
  }
}

.articlefoot{
  border-top: 1px solid #f1f1f1;
  text-align: center;
  margin-top: 20px;
  display: block;
  padding-top: 0px;
  &:before{
    clear: both;
    visibility: hidden;
    height: 0;
    content: '.';
  }
}

.permalink{
  font-family: "effra", sans-serif;
  color: #ccc;
  font-size: .9em;
  margin-top: 0px;
  &:hover{
    color: $base;
  }
}

article.visual-item{
  //text-align: center;
  h2{
    display: none;
  }
  p{
    
  }
  img{
  }
}

article.reading-item{
  
  h2{
    display: none;
  }
  .source p{
    background: none;
    font-style: normal;
    
  }
  .source a{
    text-align: center;
    display: block;
    font-family: "effra", sans-serif;
    //font-weight: bold;
    color: #666;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
    line-height: 130%;
    &:hover{
      color: $base;
      text-decoration: underline;
    }
  }
  ol{
    color: $base;
  }
  p{
    color: $base;
    //background: #f1f1f1;
    font-style: italic;
    padding-left: 40px;
    padding-right: 40px;
    //font-family: "freight-text-pro", georgia, serif;
  }
  .caption{
    border-top: 1px solid #f1f1f1;
    display: block;
    background: none;
    padding: 15px 0px 1px 0px; 
  }
  .caption p{
    //font-family: "freight-text-pro", georgia, serif;
    font-style: normal;
    color: #333;
    background: none;
    padding-left: 0px;
    padding-right: 0px
    //font-size: 18px;
  }
}

article.reading-item p:nth-child(2){
  // text-indent: 40px !important; 
  background: url('../images/blockquote.gif') no-repeat top left;
  background-size: 30px;
}

article.writing-item{
  h2{
    text-align: center;
  }
}

article.work-item{
  margin-bottom: 200px;
  img{
    margin-bottom: 30px;
    margin-top: 30px;
    &.captioned{
      margin-bottom: 5px;
    }
  }
  .meta{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "effra";
    font-weight: 600;
    h2{
      //text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .05em;
      display: inline;
      font-size: 22px;
      color: #28200E;
      margin-top: 60px;
      font-family: "effra";
      font-weight: bold;
    }
    p{
      display: inline;
      font-family: "effra";
      //font-weight: 300;
    }
    ul{
      list-style: none;
      margin-bottom: 30px;
      li{
        font-size: .8em;
        line-height: 150%;
      }
    }
  }
}

.worklist{
  background: #FFF;
  border-top: 1px solid #eee;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  li{
    width: 25%;
    display: inline-block; 
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #ddd;
    @include transition (margin-top, .25s);
    &:hover{
      margin-top: -10px;
    }
    img{
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    a{
      font-family: "ff-tisa-web-pro", Georgia, serif;
      padding-top: 20px;
      display: block;
      &:hover{
        color: $base;
      }
    }
  }
}

.meta{
  //margin-bottom: 100px;
  border-top: 1px solid lighten($base, 20%);
  &:after{
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0px;
  }
}

.team{
  list-style:none;
  display: block;
  ul{
    display: inline;
    li{
      display: inline-block;
      width: 66px;
      margin-right: 15px;
      text-align: center;
      font-family: "effra";
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      padding-top: 18px;
      img{
        width: 66px;
        height: auto;
      }
    }
  }
  &:after{
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0px;
  }
  .role{
    text-align: left;
    padding: 8px 10px 10px 10px;
    background: lighten($base, 12%);
    width: 150px;
    position: relative;
    font-size: 14px;
    line-height: 110%;
    display: block;
    float: left;
    top: 18px;
    @include border-radius(3px);
    p{
      color: lighten($base, 45%);
      font-family: "effra";
      line-height: 110%;
      font-weight: 400;
      display: inline;
      font-size: 14px;
    }
  }
}

ul.team-bryan{
  display: inline-block;
  li{
    display: block;
    float: left;
  }
}

.left-arrow{
  width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 10px solid lighten($base, 12%);
  position: absolute;
  top: 13px;
  left: -9px;
}

.figure{
  position: relative;
  .caption{
    position: absolute;
    top: 27px;
    right: -200px;
    width:180px;
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-size: 15px;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    color: #777;
    line-height: 130%;
    font-style: italic;
  }
}

@media screen and (min-width: 1445px) {

.home .wrapper img{
  right: 10%;
}

}

@media screen and (max-width: 1200px) {
  .home .wrapper h2{
    width: 33%;
  }
}

@media screen and (max-width: 1080px) {
  .home .menu.container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include box-sizing(border-box);
  }

  .home .wrapper .container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include box-sizing(border-box);
  }



}

@media screen and (max-width: 1000px) {
  article img.wide{
    width: 600px;
    margin-left: 0;
  }

  .figure img{
    margin-bottom: 5px !important;
  }
  

  .figure .caption{
    position: relative;
    width: 100%;
    margin: 0;
    right: 0;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .tagcloud{
    display: none;
  }

  .home .wrapper.pbskids .container{
    padding-bottom: 0px;
  }

  .home .wrapper h2{
    width: 100%;
    padding-right: 20px;
    @include box-sizing(border-box);
    line-height: 125%;
  }

  .home .wrapper img{
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .home .wrapper{
    padding-bottom: 0px;
    padding-top: 30px;
  }

}

@media screen and (max-width: 640px) {
  .container{
    width: 100%;
    @include box-sizing(border-box);
    padding: 20px;
  }

  article img.wide{
    width: 100%;
    margin-left: 0;
  }

  .worklist{
    padding-left: 20px;
    padding-right: 20px;
    @include box-sizing(border-box);
  }

  .worklist li{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

  }


}

@media screen and (max-width: 401px) {

  body.home h1{
    font-size: 2.0em;
  }

  

  body.home h2{
    font-size: 1.5em;
  }

}
