@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);

/* typicons */
[class*="typicons-"]:before {
font-family: 'Typicons', sans-serif;
}

$base: #1186E4;
$teal-base: #146B79;
$grey-base: #3F4854;
$bright-base: #1186E4;
$tab-base: #FBF9F5;

$effra: "effra-1","effra-2", helvetica, sans-serif;
$tisa: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;

@mixin vertical-align {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {  
  font-family: $effra;
  font-size: 18px;
  line-height: 140%;
  background: #fafafa;
  background: #F7F7ED;
  background: #F8F7F3;
  background: #FDFAF4;
  background: #F9F8F5;
  background: #FCFBFA;
  //background: #FDF6E7;
  //background: #fcfcfc;
  //background: #fafafa;
  color: #28200E;
  margin-top: 0px;
  padding-top: 0px;
}
.mailme{
  .typicons-mail{
    color: lighten($base, 30%);
  }
  &:hover{
    color: $base;
    .typicons-mail{
      color: $base;
      &:hover{
        color: $base;
      }
    }
  }
}

.royalSlider {
  width: 100%;
  min-height: 780px;
}

.rsContent{
  box-sizing: border-box;
  padding: 5%;
}


.rsMinW{
  .rsBullets{
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    bottom: 30px;
  }
  .rsBullet{
    padding: 6px 7px 6px 7px;
    span{
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #CCC;
        background: rgba(255,255,255,0.5);
        box-shadow: none;
        &:hover{
          background: rgba(255,255,255,0.75);
          cursor: pointer;
        }
    }
  }
}

.rsArrow{
  z-index: 1000;
  bottom: 22px !important;
  .rsArrowIcn{
    z-index: 1000;
  }
}
.rsArrowLeft{
    right: 50px !important;
}
.rsArrowRight{
    right: 20px !important;
}

.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}

$nomadic-cover: #F46948;
#nomadic-platform{
  .slide1 {
    background-color: $nomadic-cover;
    color:#FFF;
    .learn-more{
      background-color: darken(desaturate($nomadic-cover, 14%), 12%);
    }
  }
  .slide2{
    background-color: darken(desaturate($nomadic-cover, 14%), 8%);
  }
  .slide3{
    background-color: #DCD9CB;
    color: #33302E;
  }
}


.cover{
  h1{
    font-family: $effra;
    font-weight: bold;
    color: #FFF; 
    line-height: 105%; 
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  .learn-more{
    text-decoration: none;
    color: #FFF;
    padding: 6px 10px 8px 10px;
    border-radius: 2px;
    font-size: 1.1em;
  }
}

.text{
  width: 40%;
  @include vertical-align;
  box-sizing: border-box;
  position: relative;

  p{
    padding-bottom: 1.5em;
    font-family: $tisa;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative;

    a{
      color: inherit;
    }
  }
}

.image{
  width: 60%;
  box-sizing: border-box;
  height: 100%;
  img{
    @include vertical-align;
    width: 100%
  }
}


.left-text{
  .text{
    float: left;
    padding-right: 40px;
  }
  .image{
    float: right;
  }
}


.right-text{
  .text{
    float: right;
    padding-left: 40px;
  }
  .image{
    float: left;
  }
}

.centered-block{
  .text{
    max-width: 700px;
    width: inherit;
    margin: 0 auto;
  }
}

.team{
  li{
    display: inline-block;
    margin-right: 15px;
    color: #FFF;
    width: 66px;
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    line-height: 130%;
    img{
      width: 66px;
      height: auto;
    }
    &:last-child{
      width: 200px;
      background: rgba(255,255,255, .20);
      font-size: .8em;
      line-height: 120%;
      padding: 8px 10px;
      position: relative;
      border-radius: 2px;
      color: rgba(255,255,255, .80);
      text-align: left;
      font-weight: normal;
      top: -12px;
      strong{
        color: #FFF;
      }
      .arr{
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 10px solid rgba(255,255,255, .20);
        position: absolute;
        left: -10px;
      }
    }
  }
}





