@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=typicons);
/* typicons */
/* line 6, ../sass/styles.scss */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; }

/* line 54, ../sass/styles.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 58, ../sass/styles.scss */
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* line 63, ../sass/styles.scss */
body {
  font-family: "source-sans-pro", helvetica, sans-serif;
  font-size: 18px;
  line-height: 140%;
  background: #fafafa;
  background: #F7F7ED;
  background: #F8F7F3;
  background: #FDFAF4;
  background: #F9F8F5;
  background: #FCFBFA;
  color: #28200E;
  margin-top: 0px;
  padding-top: 0px; }

/* line 81, ../sass/styles.scss */
.mailme .typicons-mail {
  color: #97ccf7; }
/* line 84, ../sass/styles.scss */
.mailme:hover {
  color: #1186e4; }
  /* line 86, ../sass/styles.scss */
  .mailme:hover .typicons-mail {
    color: #1186e4; }
    /* line 88, ../sass/styles.scss */
    .mailme:hover .typicons-mail:hover {
      color: #1186e4; }

/* line 95, ../sass/styles.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

/* line 104, ../sass/styles.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 112, ../sass/styles.scss */
.col-third {
  width: 33%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }
  /* line 117, ../sass/styles.scss */
  .col-third img {
    width: 100%;
    height: auto; }

/* line 123, ../sass/styles.scss */
.keyboard-hint {
  background-color: rgba(35, 31, 32, 0.95);
  text-align: center;
  padding: 20px 20px 40px 10px;
  position: fixed;
  bottom: -140px;
  right: 25px;
  z-index: 10000;
  border-radius: 4px;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s; }
  /* line 139, ../sass/styles.scss */
  .keyboard-hint img {
    height: 50px;
    width: auto; }
  /* line 143, ../sass/styles.scss */
  .keyboard-hint.shown {
    bottom: -4px; }
  @media screen and (max-width: 1024px) {
    /* line 123, ../sass/styles.scss */
    .keyboard-hint {
      display: none; } }

/* line 151, ../sass/styles.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 16px; }
  /* line 158, ../sass/styles.scss */
  nav ul {
    float: right; }
    /* line 160, ../sass/styles.scss */
    nav ul li {
      display: inline-block;
      padding: 0px 10px; }
  /* line 165, ../sass/styles.scss */
  nav .typicons-mail {
    font-size: 1em; }
  /* line 168, ../sass/styles.scss */
  nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .8em;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    /* line 179, ../sass/styles.scss */
    nav a:hover {
      opacity: 1; }
  /* line 183, ../sass/styles.scss */
  nav .mail-icon {
    fill: #FFFFFF;
    width: 17px;
    position: relative;
    top: 4px; }
  /* line 189, ../sass/styles.scss */
  nav a {
    color: #FFF;
    opacity: .7; }
  /* line 193, ../sass/styles.scss */
  nav .mail-icon {
    fill: #FFF;
    opacity: .7; }
  @media screen and (max-width: 800px) {
    /* line 199, ../sass/styles.scss */
    nav .homelink span {
      display: none; }
    /* line 203, ../sass/styles.scss */
    nav ul li {
      padding: 0px 3px; } }

/* line 209, ../sass/styles.scss */
.splash {
  background: #0176cf;
  color: #FFF;
  height: 620px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 215, ../sass/styles.scss */
  .splash .plus {
    fill: white;
    color: #FFF;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -22px; }
  /* line 226, ../sass/styles.scss */
  .splash .splash-left {
    width: 50%;
    float: left;
    background: url("../images/home-splash-2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10%;
    height: 620px; }
    /* line 234, ../sass/styles.scss */
    .splash .splash-left h1 {
      font-weight: 300;
      text-align: center;
      line-height: 130%;
      padding-top: 8px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important; }
  /* line 242, ../sass/styles.scss */
  .splash .splash-right {
    width: 50%;
    float: left;
    text-align: center;
    height: 620px; }
    /* line 247, ../sass/styles.scss */
    .splash .splash-right a {
      background-color: #005ca2;
      padding: 8px 12px 9px 12px;
      text-decoration: none;
      color: #FFF;
      font-size: .9em;
      margin-top: -5px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      /* line 260, ../sass/styles.scss */
      .splash .splash-right a:hover {
        background-color: #005393; }
  @media screen and (max-width: 768px) {
    /* line 209, ../sass/styles.scss */
    .splash {
      height: 470px; }
      /* line 267, ../sass/styles.scss */
      .splash .splash-left {
        width: 100%;
        float: none;
        display: block;
        height: 300px; }
      /* line 273, ../sass/styles.scss */
      .splash .splash-right {
        width: 100%;
        float: none;
        display: block;
        height: 140px; }
      /* line 279, ../sass/styles.scss */
      .splash .plus {
        display: none; } }
  @media screen and (max-width: 480px) {
    /* line 284, ../sass/styles.scss */
    .splash h1 {
      font-size: 1.5em; } }

/* line 290, ../sass/styles.scss */
.royalSlider {
  width: 100%;
  height: 95vh; }
  /* line 294, ../sass/styles.scss */
  .royalSlider .rsOverflow {
    cursor: auto !important; }
  /* line 297, ../sass/styles.scss */
  .royalSlider .rsBullets {
    display: none; }
  /* line 301, ../sass/styles.scss */
  .royalSlider.show-dots .rsBullets {
    display: block; }

/* line 310, ../sass/styles.scss */
.rsContent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5%;
  overflow: scroll; }

/* line 318, ../sass/styles.scss */
.rsMinW .rsBullets {
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  bottom: 50px; }
/* line 325, ../sass/styles.scss */
.rsMinW .rsBullet {
  padding: 7px 8px; }
  /* line 327, ../sass/styles.scss */
  .rsMinW .rsBullet span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #CCC;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none; }
    /* line 335, ../sass/styles.scss */
    .rsMinW .rsBullet span:hover {
      background: rgba(255, 255, 255, 0.75);
      cursor: pointer; }

/* line 343, ../sass/styles.scss */
.rsArrow {
  z-index: 1000;
  bottom: 5% !important; }
  /* line 346, ../sass/styles.scss */
  .rsArrow .rsArrowIcn {
    z-index: 1000; }

/* line 350, ../sass/styles.scss */
.rsArrowLeft {
  right: 8% !important; }

/* line 353, ../sass/styles.scss */
.rsArrowRight {
  right: 5% !important; }

/* line 357, ../sass/styles.scss */
.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto; }

/* line 368, ../sass/styles.scss */
.cover h1 {
  font-family: "source-sans-pro", helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  line-height: 105%;
  font-size: 1.8em;
  margin-bottom: 25px; }
  @media screen and (max-width: 680px) {
    /* line 368, ../sass/styles.scss */
    .cover h1 {
      font-size: 1.5em; } }
/* line 379, ../sass/styles.scss */
.cover .learn-more {
  text-decoration: none;
  color: #FFF;
  padding: 6px 10px 8px 10px;
  border-radius: 2px;
  font-size: 1.1em;
  cursor: pointer; }
@media screen and (max-width: 800px) {
  /* line 394, ../sass/styles.scss */
  .cover .text {
    margin-top: 4px; }
  /* line 397, ../sass/styles.scss */
  .cover .image {
    padding-top: 20%; } }

/* line 403, ../sass/styles.scss */
.image {
  width: 64%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }
  /* line 408, ../sass/styles.scss */
  .image img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    width: 100%; }
  @media screen and (max-width: 1080px) {
    /* line 403, ../sass/styles.scss */
    .image {
      width: 55%; } }
  @media screen and (max-width: 800px) {
    /* line 403, ../sass/styles.scss */
    .image {
      width: 100%;
      position: relative;
      top: inherit;
      -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
      transform: translateY(0) !important;
      height: auto;
      max-width: 100%; }
      /* line 420, ../sass/styles.scss */
      .image img {
        top: inherit;
        position: relative;
        top: inherit;
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
        height: auto;
        width: 100%; } }

/* line 432, ../sass/styles.scss */
.left-text .text {
  float: left;
  padding-right: 60px; }
  @media screen and (max-width: 800px) {
    /* line 432, ../sass/styles.scss */
    .left-text .text {
      padding-right: 0px; } }
/* line 439, ../sass/styles.scss */
.left-text .image {
  float: right; }

/* line 446, ../sass/styles.scss */
.right-text .text {
  float: right;
  padding-left: 60px; }
  @media screen and (max-width: 800px) {
    /* line 446, ../sass/styles.scss */
    .right-text .text {
      padding-left: 0px; } }
/* line 453, ../sass/styles.scss */
.right-text .image {
  float: left; }

/* line 459, ../sass/styles.scss */
.text {
  width: 36%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 464, ../sass/styles.scss */
  .text p {
    padding-bottom: 1.5em;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative; }
    /* line 471, ../sass/styles.scss */
    .text p a {
      color: inherit; }
      /* line 473, ../sass/styles.scss */
      .text p a:hover {
        color: #33302e; }
  /* line 478, ../sass/styles.scss */
  .text em {
    font-style: italic; }
  /* line 481, ../sass/styles.scss */
  .text aside {
    font-style: italic;
    font-size: .85em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 16px;
    color: #5b5652;
    background-color: rgba(255, 255, 255, 0.35);
    line-height: .9em; }
    /* line 489, ../sass/styles.scss */
    .text aside p {
      padding-bottom: 5px; }
  /* line 493, ../sass/styles.scss */
  .text h3 {
    font-family: "source-sans-pro", helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 24px; }
  @media screen and (max-width: 1080px) {
    /* line 459, ../sass/styles.scss */
    .text {
      width: 45%; } }
  @media screen and (max-width: 800px) {
    /* line 459, ../sass/styles.scss */
    .text {
      width: 100%;
      position: relative;
      top: inherit;
      -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
      transform: translateY(0) !important;
      margin-top: 40px; }
      /* line 507, ../sass/styles.scss */
      .text h3 {
        margin-bottom: 12px;
        font-size: 1em; }
      /* line 511, ../sass/styles.scss */
      .text p {
        font-size: 1em; } }

/* line 519, ../sass/styles.scss */
.center {
  text-align: center; }

/* line 524, ../sass/styles.scss */
.centered-block .text {
  margin: 0 auto;
  width: 50%; }
  @media screen and (max-width: 1080px) {
    /* line 524, ../sass/styles.scss */
    .centered-block .text {
      width: 65%; } }
  @media screen and (max-width: 800px) {
    /* line 524, ../sass/styles.scss */
    .centered-block .text {
      width: 100%; } }
  @media screen and (max-width: 800px) {
    /* line 524, ../sass/styles.scss */
    .centered-block .text {
      padding-top: 40px; } }

/* line 542, ../sass/styles.scss */
.team li {
  display: inline-block;
  margin-right: 15px;
  color: #FFF;
  width: 66px;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  line-height: 130%;
  float: left; }
  /* line 553, ../sass/styles.scss */
  .team li img {
    width: 66px;
    height: auto; }
  /* line 558, ../sass/styles.scss */
  .team li:last-child {
    width: 200px;
    background: rgba(255, 255, 255, 0.2);
    font-size: .8em;
    line-height: 120%;
    padding: 8px 10px;
    position: relative;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-weight: normal;
    top: 6px;
    float: left; }
    /* line 571, ../sass/styles.scss */
    .team li:last-child strong {
      color: #FFF; }
    /* line 574, ../sass/styles.scss */
    .team li:last-child .arr {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 10px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      left: -10px; }
  @media screen and (max-width: 375px) {
    /* line 542, ../sass/styles.scss */
    .team li {
      margin-right: 6px; }
      /* line 586, ../sass/styles.scss */
      .team li img {
        width: 55px; }
      /* line 589, ../sass/styles.scss */
      .team li:last-child {
        width: 186px; } }

/* line 598, ../sass/styles.scss */
#super-vision .hidden-team {
  display: none; }
/* line 601, ../sass/styles.scss */
#super-vision .more-toggle {
  cursor: pointer; }
  /* line 603, ../sass/styles.scss */
  #super-vision .more-toggle img {
    cursor: pointer; }
/* line 607, ../sass/styles.scss */
#super-vision .rsContent {
  background-color: #1cacdc;
  color: #FFF; }
  /* line 611, ../sass/styles.scss */
  #super-vision .rsContent a:hover {
    color: #FFF; }
/* line 617, ../sass/styles.scss */
#super-vision .sv-slide-realtime .text, #super-vision .sv-slide-reports .text {
  left: 140px; }
/* line 621, ../sass/styles.scss */
#super-vision .sv-slide-realtime .image img, #super-vision .sv-slide-reports .image img {
  width: 35%; }
@media screen and (max-width: 800px) {
  /* line 626, ../sass/styles.scss */
  #super-vision .sv-slide-realtime .text, #super-vision .sv-slide-reports .text {
    left: 0px; }
  /* line 630, ../sass/styles.scss */
  #super-vision .sv-slide-realtime .image img, #super-vision .sv-slide-reports .image img {
    width: 50%; } }
@media screen and (max-width: 480px) {
  /* line 637, ../sass/styles.scss */
  #super-vision .sv-slide-realtime .image img, #super-vision .sv-slide-reports .image img {
    width: 80%; } }
/* line 644, ../sass/styles.scss */
#super-vision .sv-slide-testing img {
  width: 80%;
  border: 10px solid #FFF;
  box-sizing: border-box; }
  @media screen and (max-width: 800px) {
    /* line 644, ../sass/styles.scss */
    #super-vision .sv-slide-testing img {
      width: 100%; } }
/* line 653, ../sass/styles.scss */
#super-vision .slide1 {
  background-color: #1cacdc;
  color: #FFF; }
  /* line 656, ../sass/styles.scss */
  #super-vision .slide1 .learn-more {
    background-color: #1877af; }
    /* line 658, ../sass/styles.scss */
    #super-vision .slide1 .learn-more:hover {
      background-color: #195a80; }
  /* line 662, ../sass/styles.scss */
  #super-vision .slide1 .sv-ios-front {
    width: 375px;
    right: 230px;
    position: absolute; }
    @media screen and (max-width: 1080px) {
      /* line 662, ../sass/styles.scss */
      #super-vision .slide1 .sv-ios-front {
        right: 10%;
        width: 35%; } }
  @media screen and (max-width: 800px) {
    /* line 672, ../sass/styles.scss */
    #super-vision .slide1 .image {
      width: 100%;
      right: 0%;
      padding-top: 30%; }
      /* line 677, ../sass/styles.scss */
      #super-vision .slide1 .image img {
        width: 40%; } }
  @media screen and (max-width: 480px) {
    /* line 672, ../sass/styles.scss */
    #super-vision .slide1 .image {
      width: 100%;
      height: 50%;
      right: 0%;
      position: relative;
      overflow: hidden;
      text-align: left;
      border-bottom: 1px solid #0f7fc1;
      margin-bottom: 10px; }
      /* line 690, ../sass/styles.scss */
      #super-vision .slide1 .image img {
        width: 80%;
        height: auto; } }

/* line 701, ../sass/styles.scss */
#nomadic-platform .rsContent {
  background-color: #DCD9CB;
  color: #33302E; }
/* line 705, ../sass/styles.scss */
#nomadic-platform .slide1 {
  background-color: #f46948;
  color: #FFF; }
  /* line 708, ../sass/styles.scss */
  #nomadic-platform .slide1 .learn-more {
    background-color: #e1502d; }
    /* line 710, ../sass/styles.scss */
    #nomadic-platform .slide1 .learn-more:hover {
      background-color: #d6421f; }
/* line 722, ../sass/styles.scss */
#nomadic-platform .slide2 {
  background-color: #e35b3b;
  color: #FFF; }
  /* line 727, ../sass/styles.scss */
  #nomadic-platform .slide2 .team li:last-child {
    background: #f48062; }
  /* line 730, ../sass/styles.scss */
  #nomadic-platform .slide2 .team li .arr {
    border-right-color: #f48062; }
  /* line 736, ../sass/styles.scss */
  #nomadic-platform .slide2 a:hover {
    color: #FFF; }
/* line 742, ../sass/styles.scss */
#nomadic-platform .slide-original img, #nomadic-platform .slide-favorites img, #nomadic-platform .slide-conversations img {
  width: 90%; }
  @media screen and (max-width: 800px) {
    /* line 742, ../sass/styles.scss */
    #nomadic-platform .slide-original img, #nomadic-platform .slide-favorites img, #nomadic-platform .slide-conversations img {
      width: 100%; } }
/* line 749, ../sass/styles.scss */
#nomadic-platform .slide3 {
  background-color: #DCD9CB;
  color: #33302E; }
/* line 753, ../sass/styles.scss */
#nomadic-platform .slide4 {
  background: url("../../content/work/nomadic/iterations.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF; }
  /* line 757, ../sass/styles.scss */
  #nomadic-platform .slide4 .text {
    color: #FFF;
    background-color: #e35b3b;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important; }
    /* line 765, ../sass/styles.scss */
    #nomadic-platform .slide4 .text p {
      padding-bottom: 0px; }
/* line 770, ../sass/styles.scss */
#nomadic-platform .slide-nomadic-closing {
  background-color: #f46948;
  color: #FFF; }
  /* line 773, ../sass/styles.scss */
  #nomadic-platform .slide-nomadic-closing ul {
    border-top: 1px solid #e1502d;
    padding-top: 35px; }
    /* line 776, ../sass/styles.scss */
    #nomadic-platform .slide-nomadic-closing ul li {
      width: 49%;
      line-height: 108%;
      min-height: 102px;
      min-height: 102px;
      display: block;
      float: left; }
      /* line 783, ../sass/styles.scss */
      #nomadic-platform .slide-nomadic-closing ul li p {
        font-family: "source-sans-pro", helvetica, sans-serif;
        font-size: 1em;
        padding-left: 46px; }
      /* line 788, ../sass/styles.scss */
      #nomadic-platform .slide-nomadic-closing ul li img {
        width: 36px;
        float: left; }
      @media screen and (max-width: 480px) {
        /* line 776, ../sass/styles.scss */
        #nomadic-platform .slide-nomadic-closing ul li {
          width: 100%;
          min-height: 0px; } }

/* line 804, ../sass/styles.scss */
#nomadic-cms .rsContent {
  background: #D7E0E5;
  color: #33302E; }
/* line 808, ../sass/styles.scss */
#nomadic-cms .cms-slide-1 {
  background-color: #2e4156;
  color: #FFF; }
  /* line 811, ../sass/styles.scss */
  #nomadic-cms .cms-slide-1 .learn-more {
    background-color: #262d35; }
    /* line 813, ../sass/styles.scss */
    #nomadic-cms .cms-slide-1 .learn-more:hover {
      background-color: #1b2126; }
  /* line 817, ../sass/styles.scss */
  #nomadic-cms .cms-slide-1 img {
    width: 900px;
    right: -3%; }
/* line 822, ../sass/styles.scss */
#nomadic-cms .cms-slide-2 {
  background-color: #212d3b;
  color: #FFF; }
  /* line 826, ../sass/styles.scss */
  #nomadic-cms .cms-slide-2 a:hover {
    color: #FFF; }
/* line 831, ../sass/styles.scss */
#nomadic-cms .cms-slide-4 {
  background: url("../../content/work/nomadic-cms/Nomadic-CMS-Wireframes.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF; }
  /* line 835, ../sass/styles.scss */
  #nomadic-cms .cms-slide-4 .text {
    color: #FFF;
    background-color: #283038;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 842, ../sass/styles.scss */
    #nomadic-cms .cms-slide-4 .text p {
      padding-bottom: 0px; }
/* line 847, ../sass/styles.scss */
#nomadic-cms .slide-nomadic-cms-closing {
  background-color: #2e4156;
  color: #FFF; }

/* line 855, ../sass/styles.scss */
#common-curriculum .rsContent {
  background: #4fc99a;
  color: #FFF; }
/* line 860, ../sass/styles.scss */
#common-curriculum .cc-slide-1 {
  background: #4fc99a;
  color: #FFF; }
  /* line 863, ../sass/styles.scss */
  #common-curriculum .cc-slide-1 .learn-more {
    background-color: #38ad80; }
    /* line 865, ../sass/styles.scss */
    #common-curriculum .cc-slide-1 .learn-more:hover {
      background-color: #31966f; }
  /* line 869, ../sass/styles.scss */
  #common-curriculum .cc-slide-1 .image img {
    width: 90%; }
    @media screen and (max-width: 800px) {
      /* line 869, ../sass/styles.scss */
      #common-curriculum .cc-slide-1 .image img {
        width: 100%; } }
/* line 876, ../sass/styles.scss */
#common-curriculum .cc-slide-2 {
  background-color: #38b786;
  color: #FFF; }
/* line 880, ../sass/styles.scss */
#common-curriculum .cc-slide-closing {
  background: #4fc99a;
  color: #FFF; }
/* line 886, ../sass/styles.scss */
#common-curriculum .cc-slide-4 .image img, #common-curriculum .cc-slide-6 .image img {
  width: 90%; }
  @media screen and (max-width: 800px) {
    /* line 886, ../sass/styles.scss */
    #common-curriculum .cc-slide-4 .image img, #common-curriculum .cc-slide-6 .image img {
      width: 100%; } }
/* line 895, ../sass/styles.scss */
#common-curriculum .cc-slide-closing img {
  opacity: .3;
  width: 400px;
  margin-bottom: 35px; }
  @media screen and (max-width: 800px) {
    /* line 895, ../sass/styles.scss */
    #common-curriculum .cc-slide-closing img {
      width: 100%; } }

/* line 906, ../sass/styles.scss */
#commit .rsContent {
  background: #4fc99a;
  background: #0286a3;
  color: #FFF; }
/* line 912, ../sass/styles.scss */
#commit .commit-slide-1 {
  background: #0286a3;
  color: #FFF;
  padding-right: 0; }
  /* line 916, ../sass/styles.scss */
  #commit .commit-slide-1 .learn-more {
    background-color: #036c83; }
    /* line 918, ../sass/styles.scss */
    #commit .commit-slide-1 .learn-more:hover {
      background-color: #025466; }
  /* line 922, ../sass/styles.scss */
  #commit .commit-slide-1 .image {
    text-align: right; }
    /* line 924, ../sass/styles.scss */
    #commit .commit-slide-1 .image img {
      width: 90%; }
/* line 929, ../sass/styles.scss */
#commit .commit-slide-2 {
  background-color: #036c83;
  color: #FFF; }
/* line 933, ../sass/styles.scss */
#commit .commit-slide-3 {
  background-color: #0286a3;
  background: url("../../content/work/commit/spreads-03.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  /* line 937, ../sass/styles.scss */
  #commit .commit-slide-3 .text {
    background: rgba(255, 255, 255, 0.95);
    background: #036c83;
    color: #FFF;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 947, ../sass/styles.scss */
#commit .commit-slide-4 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 953, ../sass/styles.scss */
#commit .commit-slide-5 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 958, ../sass/styles.scss */
#commit .commit-slide-6 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 963, ../sass/styles.scss */
#commit .commit-slide-7 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 969, ../sass/styles.scss */
#commit .commit-slide-closing blockquote {
  color: #59e5fc;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
  padding-left: 65px; }
/* line 976, ../sass/styles.scss */
#commit .commit-slide-closing .quote-fill {
  fill: #59e5fc;
  width: 44px;
  float: left; }

/* line 987, ../sass/styles.scss */
#step .rsContent {
  background-color: #f7b43e;
  color: #FFF; }
/* line 992, ../sass/styles.scss */
#step .step-slide-1 .learn-more {
  background-color: #e89a3b; }
  /* line 994, ../sass/styles.scss */
  #step .step-slide-1 .learn-more:hover {
    background-color: #e0871a; }
/* line 1000, ../sass/styles.scss */
#step .step-slide-3 .col-third {
  padding-top: 150px; }
  /* line 1002, ../sass/styles.scss */
  #step .step-slide-3 .col-third img {
    padding-bottom: 10px; }
  @media screen and (max-width: 800px) {
    /* line 1000, ../sass/styles.scss */
    #step .step-slide-3 .col-third {
      padding-top: 30px;
      width: 100%; }
      /* line 1008, ../sass/styles.scss */
      #step .step-slide-3 .col-third img {
        float: left;
        width: 50%;
        margin-right: 10px; } }
/* line 1017, ../sass/styles.scss */
#step .step-slide-8 .image {
  top: 12%;
  position: relative; }
  @media screen and (max-width: 800px) {
    /* line 1017, ../sass/styles.scss */
    #step .step-slide-8 .image {
      top: 0%; } }

/* line 1030, ../sass/styles.scss */
#readi .rsContent {
  background-color: #8574b5;
  color: #FFF; }
/* line 1034, ../sass/styles.scss */
#readi .readi-slide-1 {
  background-color: #a291c5; }
  /* line 1036, ../sass/styles.scss */
  #readi .readi-slide-1 .learn-more {
    background-color: #8c79b4; }
    /* line 1038, ../sass/styles.scss */
    #readi .readi-slide-1 .learn-more:hover {
      background-color: #7963a7; }
/* line 1043, ../sass/styles.scss */
#readi .readi-slide-3 {
  background: url("../../content/work/readi/readi-wireframes-cmp.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  /* line 1046, ../sass/styles.scss */
  #readi .readi-slide-3 .text {
    background: rgba(255, 255, 255, 0.95);
    background: #8574b5;
    color: #FFF;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 1056, ../sass/styles.scss */
#readi .readi-closing-slide {
  background-color: #a291c5; }

/* line 1064, ../sass/styles.scss */
#nasa .rsContent {
  background-color: #1a323f;
  color: #FFF; }
/* line 1069, ../sass/styles.scss */
#nasa .nasa-slide-1 .coming-soon {
  font-size: 1.1em;
  opacity: 0.7; }
  /* line 1072, ../sass/styles.scss */
  #nasa .nasa-slide-1 .coming-soon a {
    font-size: 1em;
    color: #FFF; }
/* line 1077, ../sass/styles.scss */
#nasa .nasa-slide-1 .image {
  max-width: 59%; }
  @media screen and (max-width: 800px) {
    /* line 1077, ../sass/styles.scss */
    #nasa .nasa-slide-1 .image {
      max-width: 100%; } }

/* line 1088, ../sass/styles.scss */
#toandthrough .rsContent {
  background-color: #75cccc;
  color: #FFF; }
/* line 1093, ../sass/styles.scss */
#toandthrough .toandthrough-slide-1 .coming-soon {
  font-size: 1.1em;
  opacity: 0.7; }
/* line 1097, ../sass/styles.scss */
#toandthrough .toandthrough-slide-1 .image {
  width: 54%; }
  /* line 1099, ../sass/styles.scss */
  #toandthrough .toandthrough-slide-1 .image img {
    right: 4%; }

/* line 1107, ../sass/styles.scss */
section.content {
  padding-top: 80px; }

/* line 1111, ../sass/styles.scss */
.articlelist {
  position: fixed;
  left: 10px;
  top: 0px;
  width: 150px;
  height: 90%;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll; }
  /* line 1125, ../sass/styles.scss */
  .articlelist li {
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 10px; }
    /* line 1130, ../sass/styles.scss */
    .articlelist li a {
      font-family: “effra-1”,”effra-2”, helvetica, sans-serif;
      color: #ccc;
      font-size: 14px; }
      /* line 1135, ../sass/styles.scss */
      .articlelist li a:hover {
        color: #1186e4; }

/* BLOG STYLES */
/* line 1148, ../sass/styles.scss */
.info nav a, .blog nav a {
  color: #1186e4;
  color: #888; }
/* line 1152, ../sass/styles.scss */
.info nav .mail-icon, .blog nav .mail-icon {
  fill: #1186e4;
  fill: #888; }

/* line 1162, ../sass/styles.scss */
.info h2 {
  text-align: center;
  margin-bottom: 60px; }
/* line 1166, ../sass/styles.scss */
.info h3 {
  margin-bottom: 10px;
  margin-top: 80px; }
/* line 1170, ../sass/styles.scss */
.info article {
  margin-bottom: 0px; }
/* line 1174, ../sass/styles.scss */
.info .sector-1 {
  color: #31AC73; }
/* line 1177, ../sass/styles.scss */
.info .sector-2 {
  color: #09BEEA; }
/* line 1180, ../sass/styles.scss */
.info .sector-3 {
  color: #ff6159; }

/* line 1185, ../sass/styles.scss */
.container.services {
  width: 100%;
  background: #f5f5f5;
  margin-top: 100px;
  padding-bottom: 80px; }
  /* line 1191, ../sass/styles.scss */
  .container.services h2 {
    margin-bottom: 60px; }
  /* line 1194, ../sass/styles.scss */
  .container.services .content {
    width: 600px;
    margin: 0 auto; }
    @media screen and (max-width: 640px) {
      /* line 1194, ../sass/styles.scss */
      .container.services .content {
        width: 100%;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }

/* line 1205, ../sass/styles.scss */
.bio-pic {
  width: 57px;
  height: auto;
  border: none;
  margin-right: 10px;
  border-radius: 60px;
  float: left; }

/* line 1214, ../sass/styles.scss */
.header-pic {
  width: 36px;
  height: auto;
  border: none;
  margin-right: 6px;
  border-radius: 60px;
  float: left;
  margin-top: -5px;
  margin-left: -5px;
  -webkit-transition: width 0.35s;
  -moz-transition: width 0.35s;
  -o-transition: width 0.35s;
  transition: width 0.35s; }
  /* line 1224, ../sass/styles.scss */
  .header-pic:hover {
    width: 100px; }

/* line 1229, ../sass/styles.scss */
.container {
  width: 600px;
  margin: 0 auto; }

/* line 1234, ../sass/styles.scss */
.tagcloud {
  position: fixed;
  right: 15px;
  top: 50px;
  width: 120px;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: right;
  padding-right: 20px; }
  /* line 1245, ../sass/styles.scss */
  .tagcloud li {
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 0px; }
    /* line 1250, ../sass/styles.scss */
    .tagcloud li a {
      font-family: "source-sans-pro", helvetica, sans-serif;
      color: #ccc;
      font-size: 14px; }
      /* line 1255, ../sass/styles.scss */
      .tagcloud li a:hover {
        color: #1186e4; }

/* line 1263, ../sass/styles.scss */
.pagination {
  padding-bottom: 100px; }
  /* line 1265, ../sass/styles.scss */
  .pagination a {
    background: #1186e4;
    padding: 8px 12px 10px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    line-height: 100%;
    text-decoration: none; }
    /* line 1272, ../sass/styles.scss */
    .pagination a:hover {
      background: #0a4e85; }
  /* line 1276, ../sass/styles.scss */
  .pagination .old {
    float: left; }
  /* line 1279, ../sass/styles.scss */
  .pagination .new {
    float: right; }

/* line 1284, ../sass/styles.scss */
article {
  margin-bottom: 200px; }
  /* line 1286, ../sass/styles.scss */
  article img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px; }
    /* line 1291, ../sass/styles.scss */
    article img.wide {
      width: 1000px;
      margin-left: -200px; }
    /* line 1295, ../sass/styles.scss */
    article img.captioned {
      margin-bottom: 0px; }
  /* line 1300, ../sass/styles.scss */
  article figure.wide {
    width: 1000px;
    margin-left: -200px; }
  /* line 1308, ../sass/styles.scss */
  article ul {
    padding-left: 32px; }
    /* line 1310, ../sass/styles.scss */
    article ul li {
      font-size: 20px;
      line-height: 154%;
      font-family: "ff-tisa-web-pro", Georgia, serif; }
      /* line 1314, ../sass/styles.scss */
      article ul li a {
        color: #1186e4;
        text-decoration: underline; }
        /* line 1317, ../sass/styles.scss */
        article ul li a:hover {
          color: #0a4e85; }
  /* line 1323, ../sass/styles.scss */
  article p {
    font-size: 20px;
    line-height: 154%;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    margin-bottom: 20px;
    color: #333; }
    /* line 1329, ../sass/styles.scss */
    article p a {
      color: #1186e4;
      text-decoration: underline; }
      /* line 1332, ../sass/styles.scss */
      article p a:hover {
        color: #222; }
    /* line 1336, ../sass/styles.scss */
    article p.captiontext {
      font-family: "ff-tisa-web-pro", Georgia, serif;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      color: #555;
      line-height: 135%;
      font-style: italic;
      display: block;
      margin-top: -17px;
      margin-bottom: 40px; }
  /* line 1349, ../sass/styles.scss */
  article blockquote {
    margin-bottom: 30px;
    background: url(‘../images/blockquote.gif’) no-repeat top left;
    background-size: 30px;
    margin-top: 30px;
    display: block;
    padding: 0px 55px 1px 40px; }
    /* line 1358, ../sass/styles.scss */
    article blockquote p {
      color: #1186e4;
      line-height: 130%;
      padding-top: 0; }
  /* line 1368, ../sass/styles.scss */
  article h2 {
    font-weight: 600;
    font-family: "source-sans-pro", helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 21px; }
    /* line 1373, ../sass/styles.scss */
    article h2 a {
      text-decoration: none;
      color: #333; }
      /* line 1376, ../sass/styles.scss */
      article h2 a:hover {
        color: #1186e4; }
  /* line 1381, ../sass/styles.scss */
  article .portrait {
    margin-top: -30px;
    border: none; }

/* line 1387, ../sass/styles.scss */
.articlefoot {
  border-top: 1px solid #f1f1f1;
  text-align: center;
  margin-top: 20px;
  display: block;
  padding-top: 5px; }
  /* line 1393, ../sass/styles.scss */
  .articlefoot:before {
    clear: both;
    visibility: hidden;
    height: 0;
    content: "."; }

/* line 1401, ../sass/styles.scss */
.permalink {
  font-family: "source-sans-pro", helvetica, sans-serif;
  color: #ccc;
  font-size: .9em;
  margin-top: 0px; }
  /* line 1406, ../sass/styles.scss */
  .permalink:hover {
    color: #1186e4; }

/* line 1411, ../sass/styles.scss */
.all-posts {
  background: #eee;
  color: #999;
  padding: 12px 18px 14px 18px;
  border-radius: 3px;
  position: relative;
  top: 55px; }

/* line 1425, ../sass/styles.scss */
article.visual-item h2 {
  display: none; }

/* line 1437, ../sass/styles.scss */
article.reading-item h2 {
  display: none; }
/* line 1440, ../sass/styles.scss */
article.reading-item .source p {
  background: none;
  font-style: normal; }
/* line 1445, ../sass/styles.scss */
article.reading-item .source a {
  text-align: center;
  display: block;
  font-family: "source-sans-pro", helvetica, sans-serif;
  color: #222;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
  line-height: 130%; }
  /* line 1456, ../sass/styles.scss */
  article.reading-item .source a:hover {
    color: #1186e4;
    text-decoration: underline; }
/* line 1461, ../sass/styles.scss */
article.reading-item ol {
  color: #1186e4; }
/* line 1464, ../sass/styles.scss */
article.reading-item p {
  color: #1186e4;
  font-style: italic;
  padding-left: 40px;
  padding-right: 40px; }
/* line 1472, ../sass/styles.scss */
article.reading-item .caption {
  border-top: 1px solid #f1f1f1;
  display: block;
  background: none;
  padding: 15px 0px 1px 0px; }
/* line 1478, ../sass/styles.scss */
article.reading-item .caption p {
  font-style: normal;
  color: #333;
  background: none;
  padding-left: 0px;
  padding-right: 0px; }

/* line 1489, ../sass/styles.scss */
article.reading-item p:nth-child(2) {
  background: url(‘../images/blockquote.gif’) no-repeat top left;
  background-size: 30px; }

/* line 1496, ../sass/styles.scss */
article.writing-item h2 {
  text-align: center; }

/* line 1501, ../sass/styles.scss */
article.work-item {
  margin-bottom: 200px; }
  /* line 1503, ../sass/styles.scss */
  article.work-item img {
    margin-bottom: 30px;
    margin-top: 30px; }
    /* line 1506, ../sass/styles.scss */
    article.work-item img.captioned {
      margin-bottom: 5px; }
  /* line 1510, ../sass/styles.scss */
  article.work-item .meta {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "source-sans-pro", helvetica, sans-serif;
    font-weight: 600; }
    /* line 1515, ../sass/styles.scss */
    article.work-item .meta h2 {
      font-weight: 600;
      letter-spacing: .05em;
      display: inline;
      font-size: 22px;
      color: #28200E;
      margin-top: 60px;
      font-family: "source-sans-pro", helvetica, sans-serif;
      font-weight: bold; }
    /* line 1526, ../sass/styles.scss */
    article.work-item .meta p {
      display: inline;
      font-family: "source-sans-pro", helvetica, sans-serif; }
    /* line 1531, ../sass/styles.scss */
    article.work-item .meta ul {
      list-style: none;
      margin-bottom: 30px; }
      /* line 1534, ../sass/styles.scss */
      article.work-item .meta ul li {
        font-size: .8em;
        line-height: 150%; }

@media screen and (max-width: 1000px) {
  /* line 1544, ../sass/styles.scss */
  article img.wide {
    width: 600px;
    margin-left: 0; }

  /* line 1549, ../sass/styles.scss */
  article figure.wide {
    width: 600px;
    margin-left: 0; }

  /* line 1554, ../sass/styles.scss */
  .figure img {
    margin-bottom: 5px !important; }

  /* line 1559, ../sass/styles.scss */
  .figure .caption {
    position: relative;
    width: 100%;
    margin: 0;
    right: 0;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    padding-top: 0px;
    margin-bottom: 20px; } }
@media screen and (max-width: 900px) {
  /* line 1574, ../sass/styles.scss */
  .tagcloud {
    display: none; }

  /* line 1578, ../sass/styles.scss */
  .home .wrapper.pbskids .container {
    padding-bottom: 0px; }

  /* line 1582, ../sass/styles.scss */
  .home .wrapper h2 {
    width: 100%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 125%; }

  /* line 1589, ../sass/styles.scss */
  .home .wrapper img {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px; }

  /* line 1599, ../sass/styles.scss */
  .home .wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px !important; } }
@media screen and (max-width: 640px) {
  /* line 1608, ../sass/styles.scss */
  .container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px; }

  /* line 1614, ../sass/styles.scss */
  article img.wide {
    width: 100%;
    margin-left: 0; }

  /* line 1619, ../sass/styles.scss */
  article figure.wide {
    width: 100%;
    margin-left: 0; } }
