@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=typicons);
/* typicons */
/* line 6, ../sass/styles.scss */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; }

/* line 46, ../sass/styles.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 50, ../sass/styles.scss */
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* line 55, ../sass/styles.scss */
body {
  font-family: "source-sans-pro", helvetica, sans-serif;
  font-size: 18px;
  line-height: 140%;
  background: #fafafa;
  background: #F7F7ED;
  background: #F8F7F3;
  background: #FDFAF4;
  background: #F9F8F5;
  background: #FCFBFA;
  color: #28200E;
  margin-top: 0px;
  padding-top: 0px; }

/* line 73, ../sass/styles.scss */
.mailme .typicons-mail {
  color: #97ccf7; }
/* line 76, ../sass/styles.scss */
.mailme:hover {
  color: #1186e4; }
  /* line 78, ../sass/styles.scss */
  .mailme:hover .typicons-mail {
    color: #1186e4; }
    /* line 80, ../sass/styles.scss */
    .mailme:hover .typicons-mail:hover {
      color: #1186e4; }

/* line 87, ../sass/styles.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

/* line 96, ../sass/styles.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 104, ../sass/styles.scss */
.col-third {
  width: 33%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }
  /* line 109, ../sass/styles.scss */
  .col-third img {
    width: 100%;
    height: auto; }

/* line 115, ../sass/styles.scss */
.keyboard-hint {
  background-color: rgba(35, 31, 32, 0.95);
  text-align: center;
  padding: 20px 20px 40px 10px;
  position: fixed;
  bottom: -140px;
  right: 25px;
  z-index: 10000;
  border-radius: 4px;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s; }
  /* line 131, ../sass/styles.scss */
  .keyboard-hint img {
    height: 50px;
    width: auto; }
  /* line 135, ../sass/styles.scss */
  .keyboard-hint.shown {
    bottom: -4px; }

/* line 140, ../sass/styles.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 16px; }
  /* line 147, ../sass/styles.scss */
  nav ul {
    float: right; }
    /* line 149, ../sass/styles.scss */
    nav ul li {
      display: inline-block;
      padding: 0px 10px; }
  /* line 154, ../sass/styles.scss */
  nav .typicons-mail {
    font-size: 1em; }
  /* line 157, ../sass/styles.scss */
  nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .8em;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    /* line 168, ../sass/styles.scss */
    nav a:hover {
      opacity: 1; }
  /* line 172, ../sass/styles.scss */
  nav .mail-icon {
    fill: #FFFFFF;
    width: 17px;
    position: relative;
    top: 4px; }

/* line 180, ../sass/styles.scss */
.splash {
  background: #0176cf;
  color: #FFF;
  height: 620px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 186, ../sass/styles.scss */
  .splash .plus {
    fill: white;
    color: #FFF;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -22px; }
  /* line 197, ../sass/styles.scss */
  .splash .splash-left {
    width: 50%;
    float: left;
    background: url("../images/home-splash-2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10%;
    height: 620px; }
    /* line 205, ../sass/styles.scss */
    .splash .splash-left h1 {
      font-weight: 300;
      text-align: center;
      line-height: 130%;
      padding-top: 8px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important; }
  /* line 213, ../sass/styles.scss */
  .splash .splash-right {
    width: 50%;
    float: left;
    text-align: center;
    height: 620px; }
    /* line 218, ../sass/styles.scss */
    .splash .splash-right a {
      background-color: #005ca2;
      padding: 8px 12px 9px 12px;
      text-decoration: none;
      color: #FFF;
      font-size: .9em;
      margin-top: -5px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      /* line 231, ../sass/styles.scss */
      .splash .splash-right a:hover {
        background-color: #005393; }

/* line 238, ../sass/styles.scss */
.royalSlider {
  width: 100%;
  min-height: 780px; }
  /* line 241, ../sass/styles.scss */
  .royalSlider .rsOverflow {
    cursor: auto !important; }
  /* line 244, ../sass/styles.scss */
  .royalSlider .rsBullets {
    display: none; }
  /* line 248, ../sass/styles.scss */
  .royalSlider.show-dots .rsBullets {
    display: block; }

/* line 254, ../sass/styles.scss */
.rsContent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5%; }

/* line 261, ../sass/styles.scss */
.rsMinW .rsBullets {
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  bottom: 50px; }
/* line 268, ../sass/styles.scss */
.rsMinW .rsBullet {
  padding: 7px 8px; }
  /* line 270, ../sass/styles.scss */
  .rsMinW .rsBullet span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #CCC;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none; }
    /* line 278, ../sass/styles.scss */
    .rsMinW .rsBullet span:hover {
      background: rgba(255, 255, 255, 0.75);
      cursor: pointer; }

/* line 286, ../sass/styles.scss */
.rsArrow {
  z-index: 1000;
  bottom: 5% !important; }
  /* line 289, ../sass/styles.scss */
  .rsArrow .rsArrowIcn {
    z-index: 1000; }

/* line 293, ../sass/styles.scss */
.rsArrowLeft {
  right: 8% !important; }

/* line 296, ../sass/styles.scss */
.rsArrowRight {
  right: 5% !important; }

/* line 300, ../sass/styles.scss */
.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto; }

/* line 311, ../sass/styles.scss */
.cover h1 {
  font-family: "source-sans-pro", helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  line-height: 105%;
  font-size: 1.8em;
  margin-bottom: 25px; }
/* line 319, ../sass/styles.scss */
.cover .learn-more {
  text-decoration: none;
  color: #FFF;
  padding: 6px 10px 8px 10px;
  border-radius: 2px;
  font-size: 1.1em;
  cursor: pointer; }

/* line 332, ../sass/styles.scss */
.text {
  width: 36%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 337, ../sass/styles.scss */
  .text p {
    padding-bottom: 1.5em;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative; }
    /* line 344, ../sass/styles.scss */
    .text p a {
      color: inherit; }
      /* line 346, ../sass/styles.scss */
      .text p a:hover {
        color: #33302e; }
  /* line 351, ../sass/styles.scss */
  .text em {
    font-style: italic; }
  /* line 354, ../sass/styles.scss */
  .text aside {
    font-style: italic;
    font-size: .85em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 16px;
    color: #5b5652;
    background-color: rgba(255, 255, 255, 0.35);
    line-height: .9em; }
    /* line 362, ../sass/styles.scss */
    .text aside p {
      padding-bottom: 5px; }
  /* line 366, ../sass/styles.scss */
  .text h3 {
    font-family: "source-sans-pro", helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 24px; }

/* line 375, ../sass/styles.scss */
.image {
  width: 64%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }
  /* line 380, ../sass/styles.scss */
  .image img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    width: 100%; }

/* line 388, ../sass/styles.scss */
.left-text .text {
  float: left;
  padding-right: 60px; }
/* line 392, ../sass/styles.scss */
.left-text .image {
  float: right; }

/* line 399, ../sass/styles.scss */
.right-text .text {
  float: right;
  padding-left: 60px; }
/* line 403, ../sass/styles.scss */
.right-text .image {
  float: left; }

/* line 409, ../sass/styles.scss */
.centered-block .text {
  max-width: 700px;
  width: inherit;
  margin: 0 auto; }

/* line 416, ../sass/styles.scss */
.center {
  text-align: center; }

/* line 421, ../sass/styles.scss */
.team li {
  display: inline-block;
  margin-right: 15px;
  color: #FFF;
  width: 66px;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  line-height: 130%;
  float: left; }
  /* line 431, ../sass/styles.scss */
  .team li img {
    width: 66px;
    height: auto; }
  /* line 435, ../sass/styles.scss */
  .team li:last-child {
    width: 200px;
    background: rgba(255, 255, 255, 0.2);
    font-size: .8em;
    line-height: 120%;
    padding: 8px 10px;
    position: relative;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-weight: normal;
    top: 6px;
    float: left; }
    /* line 448, ../sass/styles.scss */
    .team li:last-child strong {
      color: #FFF; }
    /* line 451, ../sass/styles.scss */
    .team li:last-child .arr {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 10px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      left: -10px; }

/* line 466, ../sass/styles.scss */
#nomadic-platform .rsContent {
  background-color: #DCD9CB;
  color: #33302E; }
/* line 470, ../sass/styles.scss */
#nomadic-platform .slide1 {
  background-color: #f46948;
  color: #FFF; }
  /* line 473, ../sass/styles.scss */
  #nomadic-platform .slide1 .learn-more {
    background-color: #e1502d; }
    /* line 475, ../sass/styles.scss */
    #nomadic-platform .slide1 .learn-more:hover {
      background-color: #d6421f; }
/* line 487, ../sass/styles.scss */
#nomadic-platform .slide2 {
  background-color: #e35b3b;
  color: #FFF; }
  /* line 492, ../sass/styles.scss */
  #nomadic-platform .slide2 .team li:last-child {
    background: #f48062; }
  /* line 495, ../sass/styles.scss */
  #nomadic-platform .slide2 .team li .arr {
    border-right-color: #f48062; }
  /* line 501, ../sass/styles.scss */
  #nomadic-platform .slide2 a:hover {
    color: #FFF; }
/* line 506, ../sass/styles.scss */
#nomadic-platform .slide3 {
  background-color: #DCD9CB;
  color: #33302E; }
/* line 510, ../sass/styles.scss */
#nomadic-platform .slide4 {
  background: url("../../content/work/nomadic/iterations.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF; }
  /* line 514, ../sass/styles.scss */
  #nomadic-platform .slide4 .text {
    color: #FFF;
    background-color: #e35b3b;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 521, ../sass/styles.scss */
    #nomadic-platform .slide4 .text p {
      padding-bottom: 0px; }
/* line 526, ../sass/styles.scss */
#nomadic-platform .slide-nomadic-closing {
  background-color: #f46948;
  color: #FFF; }
  /* line 529, ../sass/styles.scss */
  #nomadic-platform .slide-nomadic-closing ul {
    border-top: 1px solid #e1502d;
    padding-top: 35px; }
    /* line 532, ../sass/styles.scss */
    #nomadic-platform .slide-nomadic-closing ul li {
      width: 49%;
      display: inline-block;
      line-height: 108%;
      margin-bottom: 35px; }
      /* line 537, ../sass/styles.scss */
      #nomadic-platform .slide-nomadic-closing ul li img {
        width: 36px;
        float: left;
        padding-right: 10px; }

/* line 550, ../sass/styles.scss */
#nomadic-cms .rsContent {
  background: #D7E0E5;
  color: #33302E; }
/* line 554, ../sass/styles.scss */
#nomadic-cms .cms-slide-1 {
  background-color: #2e4156;
  color: #FFF; }
  /* line 557, ../sass/styles.scss */
  #nomadic-cms .cms-slide-1 .learn-more {
    background-color: #262d35; }
    /* line 559, ../sass/styles.scss */
    #nomadic-cms .cms-slide-1 .learn-more:hover {
      background-color: #1b2126; }
  /* line 563, ../sass/styles.scss */
  #nomadic-cms .cms-slide-1 img {
    width: 900px;
    right: -3%; }
/* line 568, ../sass/styles.scss */
#nomadic-cms .cms-slide-2 {
  background-color: #212d3b;
  color: #FFF; }
  /* line 572, ../sass/styles.scss */
  #nomadic-cms .cms-slide-2 a:hover {
    color: #FFF; }
/* line 577, ../sass/styles.scss */
#nomadic-cms .cms-slide-4 {
  background: url("../../content/work/nomadic-cms/Nomadic-CMS-Wireframes.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF; }
  /* line 581, ../sass/styles.scss */
  #nomadic-cms .cms-slide-4 .text {
    color: #FFF;
    background-color: #283038;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 588, ../sass/styles.scss */
    #nomadic-cms .cms-slide-4 .text p {
      padding-bottom: 0px; }
/* line 593, ../sass/styles.scss */
#nomadic-cms .slide-nomadic-cms-closing {
  background-color: #2e4156;
  color: #FFF; }

/* line 601, ../sass/styles.scss */
#common-curriculum .rsContent {
  background: #4fc99a;
  color: #FFF; }
/* line 606, ../sass/styles.scss */
#common-curriculum .cc-slide-1 {
  background: #4fc99a;
  color: #FFF; }
  /* line 609, ../sass/styles.scss */
  #common-curriculum .cc-slide-1 .learn-more {
    background-color: #38ad80; }
    /* line 611, ../sass/styles.scss */
    #common-curriculum .cc-slide-1 .learn-more:hover {
      background-color: #31966f; }
/* line 616, ../sass/styles.scss */
#common-curriculum .cc-slide-2 {
  background-color: #38b786;
  color: #FFF; }
/* line 620, ../sass/styles.scss */
#common-curriculum .cc-slide-closing {
  background: #4fc99a;
  color: #FFF; }

/* line 629, ../sass/styles.scss */
#commit .rsContent {
  background: #4fc99a;
  background: #0286a3;
  color: #FFF; }
/* line 635, ../sass/styles.scss */
#commit .commit-slide-1 {
  background: #0286a3;
  color: #FFF;
  padding-right: 0; }
  /* line 639, ../sass/styles.scss */
  #commit .commit-slide-1 .learn-more {
    background-color: #036c83; }
    /* line 641, ../sass/styles.scss */
    #commit .commit-slide-1 .learn-more:hover {
      background-color: #025466; }
  /* line 645, ../sass/styles.scss */
  #commit .commit-slide-1 .image {
    text-align: right; }
    /* line 647, ../sass/styles.scss */
    #commit .commit-slide-1 .image img {
      width: 90%; }
/* line 652, ../sass/styles.scss */
#commit .commit-slide-2 {
  background-color: #036c83;
  color: #FFF; }
/* line 656, ../sass/styles.scss */
#commit .commit-slide-3 {
  background-color: #0286a3;
  background: url("../../content/work/commit/spreads-03.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  /* line 660, ../sass/styles.scss */
  #commit .commit-slide-3 .text {
    background: rgba(255, 255, 255, 0.95);
    background: #036c83;
    color: #FFF;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 670, ../sass/styles.scss */
#commit .commit-slide-4 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 675, ../sass/styles.scss */
#commit .commit-slide-5 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 680, ../sass/styles.scss */
#commit .commit-slide-6 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 685, ../sass/styles.scss */
#commit .commit-slide-7 {
  background-color: #0286a3;
  color: #FFF;
  padding-right: 0; }
/* line 691, ../sass/styles.scss */
#commit .commit-slide-closing blockquote {
  color: #59e5fc;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
  padding-left: 65px; }
/* line 698, ../sass/styles.scss */
#commit .commit-slide-closing .quote-fill {
  fill: #59e5fc;
  width: 44px;
  float: left; }

/* line 709, ../sass/styles.scss */
#step .rsContent {
  background-color: #f7b43e;
  color: #FFF; }
/* line 714, ../sass/styles.scss */
#step .step-slide-1 .learn-more {
  background-color: #e89a3b; }
  /* line 716, ../sass/styles.scss */
  #step .step-slide-1 .learn-more:hover {
    background-color: #e0871a; }
/* line 722, ../sass/styles.scss */
#step .step-slide-3 .col-third {
  padding-top: 150px; }
  /* line 724, ../sass/styles.scss */
  #step .step-slide-3 .col-third img {
    padding-bottom: 10px; }

/* line 734, ../sass/styles.scss */
#readi .rsContent {
  background-color: #8574b5;
  color: #FFF; }
/* line 738, ../sass/styles.scss */
#readi .readi-slide-1 {
  background-color: #a291c5; }
  /* line 740, ../sass/styles.scss */
  #readi .readi-slide-1 .learn-more {
    background-color: #8c79b4; }
    /* line 742, ../sass/styles.scss */
    #readi .readi-slide-1 .learn-more:hover {
      background-color: #7963a7; }
/* line 747, ../sass/styles.scss */
#readi .readi-slide-3 {
  background: url("../../content/work/readi/readi-wireframes-cmp.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  /* line 750, ../sass/styles.scss */
  #readi .readi-slide-3 .text {
    background: rgba(255, 255, 255, 0.95);
    background: #8574b5;
    color: #FFF;
    padding: 35px 40px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 4px rgba 0, 0, 0, 0.1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 760, ../sass/styles.scss */
#readi .readi-closing-slide {
  background-color: #a291c5; }

/* line 768, ../sass/styles.scss */
#nasa .rsContent {
  background-color: #1a323f;
  color: #FFF; }
/* line 773, ../sass/styles.scss */
#nasa .nasa-slide-1 .coming-soon {
  font-size: 1.1em;
  opacity: 0.7; }
  /* line 776, ../sass/styles.scss */
  #nasa .nasa-slide-1 .coming-soon a {
    font-size: 1em;
    color: #FFF; }

/* line 785, ../sass/styles.scss */
section.content {
  padding-top: 80px; }

/* line 789, ../sass/styles.scss */
.articlelist {
  position: fixed;
  left: 10px;
  top: 0px;
  width: 150px;
  height: 90%;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll; }
  /* line 803, ../sass/styles.scss */
  .articlelist li {
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 10px; }
    /* line 808, ../sass/styles.scss */
    .articlelist li a {
      font-family: “effra-1”,”effra-2”, helvetica, sans-serif;
      color: #ccc;
      font-size: 14px; }
      /* line 813, ../sass/styles.scss */
      .articlelist li a:hover {
        color: #1186e4; }

/* BLOG STYLES */
/* line 825, ../sass/styles.scss */
.home nav a {
  color: #FFF;
  opacity: .7; }
/* line 829, ../sass/styles.scss */
.home nav .mail-icon {
  fill: #FFF;
  opacity: .7; }

/* line 837, ../sass/styles.scss */
nav a {
  color: #1186e4;
  color: #888; }
/* line 841, ../sass/styles.scss */
nav .mail-icon {
  fill: #1186e4;
  fill: #888; }

/* line 848, ../sass/styles.scss */
.info h2 {
  text-align: center;
  margin-bottom: 60px; }
/* line 852, ../sass/styles.scss */
.info h3 {
  margin-bottom: 10px;
  margin-top: 80px; }
/* line 856, ../sass/styles.scss */
.info article {
  margin-bottom: 0px; }
/* line 860, ../sass/styles.scss */
.info .sector-1 {
  color: #31AC73; }
/* line 863, ../sass/styles.scss */
.info .sector-2 {
  color: #09BEEA; }
/* line 866, ../sass/styles.scss */
.info .sector-3 {
  color: #ff6159; }

/* line 871, ../sass/styles.scss */
.container.services {
  width: 100%;
  background: #f5f5f5;
  margin-top: 100px;
  padding-bottom: 80px; }
  /* line 877, ../sass/styles.scss */
  .container.services h2 {
    margin-bottom: 60px; }
  /* line 880, ../sass/styles.scss */
  .container.services .content {
    width: 600px;
    margin: 0 auto; }
    @media screen and (max-width: 640px) {
      /* line 880, ../sass/styles.scss */
      .container.services .content {
        width: 100%;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }

/* line 891, ../sass/styles.scss */
.bio-pic {
  width: 57px;
  height: auto;
  border: none;
  margin-right: 10px;
  border-radius: 60px;
  float: left; }

/* line 900, ../sass/styles.scss */
.header-pic {
  width: 36px;
  height: auto;
  border: none;
  margin-right: 6px;
  border-radius: 60px;
  float: left;
  margin-top: -5px;
  margin-left: -5px;
  -webkit-transition: width 0.35s;
  -moz-transition: width 0.35s;
  -o-transition: width 0.35s;
  transition: width 0.35s; }
  /* line 910, ../sass/styles.scss */
  .header-pic:hover {
    width: 100px; }

/* line 915, ../sass/styles.scss */
.container {
  width: 600px;
  margin: 0 auto; }

/* line 920, ../sass/styles.scss */
.tagcloud {
  position: fixed;
  right: 15px;
  top: 50px;
  width: 120px;
  color: #000;
  margin-top: 18px;
  list-style: none;
  z-index: 5;
  text-align: right;
  padding-right: 20px; }
  /* line 931, ../sass/styles.scss */
  .tagcloud li {
    padding: 0px;
    display: block;
    line-height: 100%;
    padding-bottom: 0px; }
    /* line 936, ../sass/styles.scss */
    .tagcloud li a {
      font-family: "source-sans-pro", helvetica, sans-serif;
      color: #ccc;
      font-size: 14px; }
      /* line 941, ../sass/styles.scss */
      .tagcloud li a:hover {
        color: #1186e4; }

/* line 949, ../sass/styles.scss */
.pagination {
  padding-bottom: 100px; }
  /* line 951, ../sass/styles.scss */
  .pagination a {
    background: #1186e4;
    padding: 8px 12px 10px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    line-height: 100%;
    text-decoration: none; }
    /* line 958, ../sass/styles.scss */
    .pagination a:hover {
      background: #0a4e85; }
  /* line 962, ../sass/styles.scss */
  .pagination .old {
    float: left; }
  /* line 965, ../sass/styles.scss */
  .pagination .new {
    float: right; }

/* line 970, ../sass/styles.scss */
article {
  margin-bottom: 200px; }
  /* line 972, ../sass/styles.scss */
  article img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px; }
    /* line 977, ../sass/styles.scss */
    article img.wide {
      width: 1000px;
      margin-left: -200px; }
    /* line 981, ../sass/styles.scss */
    article img.captioned {
      margin-bottom: 0px; }
  /* line 986, ../sass/styles.scss */
  article figure.wide {
    width: 1000px;
    margin-left: -200px; }
  /* line 994, ../sass/styles.scss */
  article ul {
    padding-left: 32px; }
    /* line 996, ../sass/styles.scss */
    article ul li {
      font-size: 20px;
      line-height: 154%;
      font-family: "ff-tisa-web-pro", Georgia, serif; }
      /* line 1000, ../sass/styles.scss */
      article ul li a {
        color: #1186e4;
        text-decoration: underline; }
        /* line 1003, ../sass/styles.scss */
        article ul li a:hover {
          color: #0a4e85; }
  /* line 1009, ../sass/styles.scss */
  article p {
    font-size: 20px;
    line-height: 154%;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    margin-bottom: 20px;
    color: #333; }
    /* line 1015, ../sass/styles.scss */
    article p a {
      color: #1186e4;
      text-decoration: underline; }
      /* line 1018, ../sass/styles.scss */
      article p a:hover {
        color: #222; }
    /* line 1022, ../sass/styles.scss */
    article p.captiontext {
      font-family: "ff-tisa-web-pro", Georgia, serif;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      color: #555;
      line-height: 135%;
      font-style: italic;
      display: block;
      margin-top: -17px;
      margin-bottom: 40px; }
  /* line 1035, ../sass/styles.scss */
  article blockquote {
    margin-bottom: 30px;
    background: url(‘../images/blockquote.gif’) no-repeat top left;
    background-size: 30px;
    margin-top: 30px;
    display: block;
    padding: 0px 55px 1px 40px; }
    /* line 1044, ../sass/styles.scss */
    article blockquote p {
      color: #1186e4;
      line-height: 130%;
      padding-top: 0; }
  /* line 1054, ../sass/styles.scss */
  article h2 {
    font-weight: 600;
    font-family: "source-sans-pro", helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 21px; }
    /* line 1059, ../sass/styles.scss */
    article h2 a {
      text-decoration: none;
      color: #333; }
      /* line 1062, ../sass/styles.scss */
      article h2 a:hover {
        color: #1186e4; }
  /* line 1067, ../sass/styles.scss */
  article .portrait {
    margin-top: -30px;
    border: none; }

/* line 1073, ../sass/styles.scss */
.articlefoot {
  border-top: 1px solid #f1f1f1;
  text-align: center;
  margin-top: 20px;
  display: block;
  padding-top: 5px; }
  /* line 1079, ../sass/styles.scss */
  .articlefoot:before {
    clear: both;
    visibility: hidden;
    height: 0;
    content: "."; }

/* line 1087, ../sass/styles.scss */
.permalink {
  font-family: "source-sans-pro", helvetica, sans-serif;
  color: #ccc;
  font-size: .9em;
  margin-top: 0px; }
  /* line 1092, ../sass/styles.scss */
  .permalink:hover {
    color: #1186e4; }

/* line 1097, ../sass/styles.scss */
.all-posts {
  background: #eee;
  color: #999;
  padding: 12px 18px 14px 18px;
  border-radius: 3px;
  position: relative;
  top: 55px; }

/* line 1111, ../sass/styles.scss */
article.visual-item h2 {
  display: none; }

/* line 1123, ../sass/styles.scss */
article.reading-item h2 {
  display: none; }
/* line 1126, ../sass/styles.scss */
article.reading-item .source p {
  background: none;
  font-style: normal; }
/* line 1131, ../sass/styles.scss */
article.reading-item .source a {
  text-align: center;
  display: block;
  font-family: "source-sans-pro", helvetica, sans-serif;
  color: #222;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
  line-height: 130%; }
  /* line 1142, ../sass/styles.scss */
  article.reading-item .source a:hover {
    color: #1186e4;
    text-decoration: underline; }
/* line 1147, ../sass/styles.scss */
article.reading-item ol {
  color: #1186e4; }
/* line 1150, ../sass/styles.scss */
article.reading-item p {
  color: #1186e4;
  font-style: italic;
  padding-left: 40px;
  padding-right: 40px; }
/* line 1158, ../sass/styles.scss */
article.reading-item .caption {
  border-top: 1px solid #f1f1f1;
  display: block;
  background: none;
  padding: 15px 0px 1px 0px; }
/* line 1164, ../sass/styles.scss */
article.reading-item .caption p {
  font-style: normal;
  color: #333;
  background: none;
  padding-left: 0px;
  padding-right: 0px; }

/* line 1175, ../sass/styles.scss */
article.reading-item p:nth-child(2) {
  background: url(‘../images/blockquote.gif’) no-repeat top left;
  background-size: 30px; }

/* line 1182, ../sass/styles.scss */
article.writing-item h2 {
  text-align: center; }

/* line 1187, ../sass/styles.scss */
article.work-item {
  margin-bottom: 200px; }
  /* line 1189, ../sass/styles.scss */
  article.work-item img {
    margin-bottom: 30px;
    margin-top: 30px; }
    /* line 1192, ../sass/styles.scss */
    article.work-item img.captioned {
      margin-bottom: 5px; }
  /* line 1196, ../sass/styles.scss */
  article.work-item .meta {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "source-sans-pro", helvetica, sans-serif;
    font-weight: 600; }
    /* line 1201, ../sass/styles.scss */
    article.work-item .meta h2 {
      font-weight: 600;
      letter-spacing: .05em;
      display: inline;
      font-size: 22px;
      color: #28200E;
      margin-top: 60px;
      font-family: "source-sans-pro", helvetica, sans-serif;
      font-weight: bold; }
    /* line 1212, ../sass/styles.scss */
    article.work-item .meta p {
      display: inline;
      font-family: "source-sans-pro", helvetica, sans-serif; }
    /* line 1217, ../sass/styles.scss */
    article.work-item .meta ul {
      list-style: none;
      margin-bottom: 30px; }
      /* line 1220, ../sass/styles.scss */
      article.work-item .meta ul li {
        font-size: .8em;
        line-height: 150%; }

@media screen and (max-width: 1000px) {
  /* line 1230, ../sass/styles.scss */
  article img.wide {
    width: 600px;
    margin-left: 0; }

  /* line 1235, ../sass/styles.scss */
  article figure.wide {
    width: 600px;
    margin-left: 0; }

  /* line 1240, ../sass/styles.scss */
  .figure img {
    margin-bottom: 5px !important; }

  /* line 1245, ../sass/styles.scss */
  .figure .caption {
    position: relative;
    width: 100%;
    margin: 0;
    right: 0;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    padding-top: 0px;
    margin-bottom: 20px; } }
@media screen and (max-width: 900px) {
  /* line 1260, ../sass/styles.scss */
  .tagcloud {
    display: none; }

  /* line 1264, ../sass/styles.scss */
  .home .wrapper.pbskids .container {
    padding-bottom: 0px; }

  /* line 1268, ../sass/styles.scss */
  .home .wrapper h2 {
    width: 100%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 125%; }

  /* line 1275, ../sass/styles.scss */
  .home .wrapper img {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px; }

  /* line 1285, ../sass/styles.scss */
  .home .wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px !important; } }
@media screen and (max-width: 640px) {
  /* line 1294, ../sass/styles.scss */
  .container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px; }

  /* line 1300, ../sass/styles.scss */
  article img.wide {
    width: 100%;
    margin-left: 0; }

  /* line 1305, ../sass/styles.scss */
  article figure.wide {
    width: 100%;
    margin-left: 0; } }
